/* Thanks Cheeaun: http://github.com/cheeaun/moodoco/blob/master/assets/docs.css */

html, body {
	font-size:100%;
	margin:0;
	padding:0;
}

body {
	color: #313334;
	background-color: #F4F5F5;
	text-shadow: 0 1px 0 #fff;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 0.8em;
}

a {
	color: #6B7B95;
	background-color: transparent;
	text-decoration: underline;
}

a:hover, a:active {
	color: #E79D35;
	background-color: transparent;
}


#container1 {
	margin: 0 30px;
}

#header {
	text-align: center;
}

#menu {
	float: left;
	width: 150px;
	position: absolute;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li strong {
	display: block;
	border-bottom: 1px solid #eee;
	font-size: 1.4em;
	line-height:1.5em;
}

#menu ul ul{
	text-align: right;
	margin: 1em 0;
}

#menu ul ul li{
	line-height: 1.4em;
}

#menu ul ul li a {
	display: block;
}

#menu ul ul li a.selected {
	color: #313334;
	font-weight: bold;
	text-decoration: none;
}

#menu a:focus {
	font-weight: bold;
}

#docs {
	margin-left: 175px;
	border-left: 1px solid #ddd;
	position: relative;
}

#docs h1, #docs h2 {
	padding: 0 .3em;
	border-bottom: 1px solid #ddd;
}

#docs h1,
#docs h1 a{
	color: #C17878;
	background-color: transparent;
	text-decoration: none;
}

#docs h2,
#docs h2 a {
	color: #78BA91;
	background-color: transparent;
	text-decoration: none;
}

#docs h1 a:hover,#docs h2 a:hover {
	text-decoration: none;
}

#docs em {
	color: #686C70;
	font-style: normal;
}

.content {
	padding: 0 35px;
}


#actions {
    width: 400px;
    position: relative;
    z-index: 1000;
    padding: 4px 0px;
}

#actions dt {
    font-weight: bold;
    margin: 8px;
}

#actions dt a {
    display: block;
    background: #AABCF2;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 4px;
}

#actions dt a:hover {
    background: #CACEE8;
}

#actions dd {
    padding: 0px 4px;
    margin: 0px 8px;
    position: relative;
    top: -8px;
}

h2 .prevNext {
	font-size: 0.7em;
	font-weight: normal;
}
