/* Thanks Cheeaun: http://github.com/cheeaun/moodoco/blob/master/assets/docs.css */

html,
body {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: #313334;
	background-color: #F4F5F5;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 0.8em;
}

a {
	color: #6B7B95;
	background-color: transparent;
	text-decoration: underline;
}

a:hover,
a:active {
	color: #E79D35;
	background-color: transparent;
}

#header {
	text-shadow: 0 1px 0 #fff;
	text-align: center;
}

#container1 {
	margin: 0 20px;
}

#menu {
	float: left;
	width: 150px;
	border-right: 1px solid #ddd;
	text-shadow: 0 1px 0 #fff;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li strong {
	display: block;
	border-bottom: 1px solid #eee;
	font-size: 1.4em;
	line-height: 1.5em;
}

#menu ul ul{
	text-align: right;
	margin: 1em 0;
}

#menu ul ul li a {
	display: block;
	width: 140px;
	padding: 0px 5px;
}

#menu ul ul li a.selected {
	color: #313334;
	font-weight: bold;
	text-decoration: none;
}

#menu a:focus {
	font-weight: bold;
}

#runner {
	margin-left: 175px;
	position: relative;
}

#runner h1,
#runner h2 {
	padding: 0 .3em;
	border-bottom: 1px solid #ddd;
}

#runner h1,
#runner h1 a {
	color: #C17878;
	background-color: transparent;
	text-decoration: none;
}

#runner h2,
#runner h2 a {
	color: #78BA91;
	background-color: transparent;
	text-decoration: none;
}

#runner h1 a:hover,
#runner h2 a:hover {
	text-decoration: none;
}

#runner em {
	color: #686C70;
	font-style: normal;
}

.content {
	padding: 0 35px;
}


#actions {
	width: 400px;
	position: relative;
	z-index: 1000;
	padding: 4px 0px;
}

#actions dt {
	font-weight: bold;
	margin: 8px;
}

#actions dt a,
.buttons {
	background: #AABCF2;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 4px;
}

#actions dt a {
	display: block;
}

#actions dt a:hover {
	background: #CACEE8;
}

#actions dd {
	padding: 0px 4px;
	margin: 0px 8px;
	position: relative;
	top: -8px;
}

h2 .buttons {
	font-size: 0.7em;
	font-weight: normal;
}
